<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="vue.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <title>Shop Vue</title>
</head>
<body>
  <div id="app">

    <section class="modal" v-if="product">
      <div class="modal-container">
        <div class="modal-img">
          <img :src="product.img" :alt="product.nome" :title="product.nome" />
        </div>

        <div class="modal-dados">
          <span>{{product.preco | priceNumber}}</span>
          <h2>{{product.nome}}</h2>
          <p>{{product.descricao}}</p>
          <button>Adicionar Item </button>
        </div>

        <div class="modal-reviews">
          <h2> Reviews </h2>
          <ul>
            <li v-for="review in product.reviews">
              <p>{{review.descricao}}</p>
              <p>{{review.nome}}| {{review.estrelas}}</p>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="products">
      <div class="products-item" v-for="item in products" @click="fetchProductsItem(item.id)" :key="item.id">
        <img class="products-item-img":src="item.img" :alt="item.nome" :title="item.nome" />
        <div class="products-item-info">
          <span>{{item.preco | priceNumber}}</span>
          <h2>{{item.nome}}</h2>
        </div>
      </div>
    </section>
  </div>

  <script src="app.js"></script>
</body>
</html>